agate==1.7.1
    # via dbt-core
appdirs==1.4.4
    # via sqlfluff
attrs==23.2.0
    # via
    #   jsonschema
    #   referencing
babel==2.14.0
    # via agate
certifi==2024.2.2
    # via requests
cffi==1.16.0
    # via dbt-core
chardet==5.2.0
    # via
    #   diff-cover
    #   sqlfluff
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via
    #   dbt-core
    #   dbt-semantic-interfaces
    #   metricflow
    #   sqlfluff
colorama==0.4.6
    # via
    #   dbt-core
    #   halo
    #   log-symbols
    #   sqlfluff
dbt-core==1.7.10
    # via
    #   dbt-duckdb
    #   metricflow
    #   sqlfluff-templater-dbt
dbt-duckdb==1.7.3
dbt-extractor==0.5.1
    # via dbt-core
dbt-semantic-interfaces==0.4.4
    # via
    #   dbt-core
    #   metricflow
diff-cover==8.0.3
    # via sqlfluff
duckdb==0.10.1
    # via dbt-duckdb
graphviz==0.20.2
    # via metricflow
halo==0.0.31
    # via metricflow
idna==3.6
    # via
    #   dbt-core
    #   requests
importlib-metadata==6.11.0
    # via dbt-semantic-interfaces
iniconfig==2.0.0
    # via pytest
isodate==0.6.1
    # via
    #   agate
    #   dbt-core
jinja2==3.1.3
    # via
    #   dbt-core
    #   dbt-semantic-interfaces
    #   diff-cover
    #   jinja2-simple-tags
    #   metricflow
    #   sqlfluff
jinja2-simple-tags==0.6.1
    # via sqlfluff-templater-dbt
jsonschema==4.21.1
    # via
    #   dbt-core
    #   dbt-semantic-interfaces
jsonschema-specifications==2023.12.1
    # via jsonschema
leather==0.4.0
    # via agate
log-symbols==0.0.14
    # via halo
logbook==1.5.3
    # via dbt-core
markdown-it-py==3.0.0
    # via rich
markupsafe==2.1.5
    # via
    #   jinja2
    #   sqlfluff-templater-dbt
mashumaro==3.12
    # via dbt-core
mdurl==0.1.2
    # via markdown-it-py
metricflow==0.205.0
minimal-snowplow-tracker==0.0.2
    # via dbt-core
more-itertools==10.1.0
    # via
    #   dbt-semantic-interfaces
    #   metricflow
msgpack==1.0.8
    # via mashumaro
networkx==3.2.1
    # via dbt-core
numpy==1.26.4
    # via pandas
packaging==24.0
    # via
    #   dbt-core
    #   pytest
pandas==1.5.3
    # via metricflow
parsedatetime==2.6
    # via agate
pathspec==0.11.2
    # via
    #   dbt-core
    #   sqlfluff
pluggy==1.4.0
    # via
    #   diff-cover
    #   pytest
protobuf==4.25.3
    # via dbt-core
pycparser==2.21
    # via cffi
pydantic==1.10.14
    # via
    #   dbt-semantic-interfaces
    #   metricflow
    #   sqlfluff-templater-dbt
pygments==2.17.2
    # via
    #   diff-cover
    #   rich
pytest==8.1.1
    # via sqlfluff
python-dateutil==2.8.2
    # via
    #   dbt-semantic-interfaces
    #   metricflow
    #   pandas
python-slugify==8.0.4
    # via agate
pytimeparse==1.1.8
    # via agate
pytz==2024.1
    # via
    #   dbt-core
    #   pandas
pyyaml==6.0.1
    # via
    #   dbt-core
    #   dbt-semantic-interfaces
    #   metricflow
    #   sqlfluff
rapidfuzz==3.6.2
    # via metricflow
referencing==0.34.0
    # via
    #   jsonschema
    #   jsonschema-specifications
regex==2023.12.25
    # via sqlfluff
requests==2.31.0
    # via
    #   dbt-core
    #   minimal-snowplow-tracker
    #   update-checker
rich==13.7.1
    # via sqlfluff-templater-dbt
rpds-py==0.18.0
    # via
    #   jsonschema
    #   referencing
ruamel-yaml==0.17.40
    # via
    #   metricflow
    #   sqlfluff-templater-dbt
ruamel-yaml-clib==0.2.8
    # via ruamel-yaml
six==1.16.0
    # via
    #   halo
    #   isodate
    #   minimal-snowplow-tracker
    #   python-dateutil
spinners==0.0.24
    # via halo
sqlfluff==3.0.2
    # via sqlfluff-templater-dbt
sqlfluff-templater-dbt==3.0.2
sqlparse==0.4.4
    # via dbt-core
tabulate==0.9.0
    # via metricflow
tblib==3.0.0
    # via sqlfluff
termcolor==2.4.0
    # via halo
text-unidecode==1.3
    # via python-slugify
tqdm==4.66.2
    # via sqlfluff
typing-extensions==4.10.0
    # via
    #   dbt-core
    #   dbt-semantic-interfaces
    #   mashumaro
    #   metricflow
    #   pydantic
    #   sqlfluff
update-checker==0.18.0
    # via metricflow
urllib3==1.26.18
    # via
    #   dbt-core
    #   requests
zipp==3.18.1
    # via importlib-metadata
